.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.title {
  font-weight: 900;
}

.body {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
