.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 3rem;
}

.details div {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  width: 13rem;
}

.details span {
  font-weight: 700;
}
